nav a {
    
    padding: 10px;
    text-decoration: underline;
    
}
.bg-container {
    background-color: skyblue;
    padding: 10px;
}

nav a.active {
    font-weight: bolder;
    color: aquamarine;
}

@media screen and (min-width:769px){
    .bg-container {
        background-color:yellow;
        padding: 10px;
    }
    
}